
       <div class="container">
       <div class="row">
              
        <div class="foot">
                <span><a href="https://github.com/thinkC/" target="_blank"><i class="fa fa-github circle" aria-hidden="true" id="socialA"></i></a></span>
                <span><a href="https://twitter.com/tunde_oyewo/" target="_blank"><i class="fa fa-twitter circle" aria-hidden="true" id="socialB"></i></a></span>
        </div>
        
        
        </div>
        <p class="text-center copyright">&copy 2017</p>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>