<% include partials/header %>
<div class="container">
    <div class="col-md-12">
        <img class="img-responsive" src="https://images.unsplash.com/3/doctype-hi-res.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=ed5589ccef1d01b3e1cef580e976466d">
    </div>
    <div class="row" id="innerbox">
    <div class="col-md-12">
</div>
</div>
<div class="row middle">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <p class="text-center title">- About -</p>
        <div class="thumbnail">
        <a href="/about"><img src="https://images.unsplash.com/photo-1432888498266-38ffec3eaf0a?dpr=1&auto=format&fit=crop&w=568&h=377&q=60&cs=tinysrgb"></a>
        </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <p class="text-center title">- Porfolio -</p>
        <div class="thumbnail">
        <a href="/portfolios"><img src="https://images.unsplash.com/photo-1492551557933-34265f7af79e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9%0A&s=e4ff6cd03670c6c8d708f166ae8beaca"></a>
        </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <p class="text-center title">- Contact -</p>
        <div class="thumbnail">
        <img src="https://images.unsplash.com/photo-1481487196290-c152efe083f5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9%0A&s=5113b0f364584c518f74b9b10def14d6">
        </div>
      </div>
</div>
</div>
<% include partials/footer %>